local/templates/main/tpl/blocks/footer.html

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""/><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""/></div>
      <div class="footer__content">
        <div class="footer__row">
          <div class="footer__col">
            <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
          </div>
          <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
          <div class="footer__col">
            <div class="footer__txt">Политика конфиденциальности</div>
          </div>
        </div>
        <div class="footer__row">
          <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>

local/templates/main/tpl/src/templates/blocks/footer.pug
footer.footer
	.container
		.footer__inner
			.footer__logo
				a(href='#').footer__l-link
				img(src="assets/images/static/logo-max.svg", alt="").footer__logo-max-image
				img(src="assets/images/static/logo-min.svg", alt="").footer__logo-min-image
			.footer__content
				.footer__row
					.footer__col
						.footer__txt 190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5
					.footer__col
						a(href='#').footer__txt +7 (812) 777-50-70
						a(href='#').footer__txt info@harpiks.ru
					.footer__col
						.footer__txt Политика конфиденциальности
				.footer__row
					.footer__col
						a(href='#').footer__txt Разработка сайта — Cakelabs
