local/templates/main/tpl/src/templates/article.pug
extends layout

block title
	title article

block content
	.c-top
		.c-top__bg.c-top__bg--1
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.c-top__c-row
					.c-top__c-col
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная 
								li.bread__l-item
									a(href="#").bread__link Статьи
								li.bread__l-item
									| Новая модель полиуретановых полов
						h1.h1 Новая модель полиуретановых полов
						.c-top__wrap-date
							.c-top__date 24.07.18
					.c-top__c-col
						a(href='#').link.link--bordered.link--blue.c-top__link К списку новостей

	.container
		.i-projects__row
			// Соотношение сторон 16:8
			div(style='background-image:url(assets/images/content/p-slider_1.jpg)').c-middle__photo
		.c-middle
			.c-middle__content
				.c-middle__desc Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также, монтаж всех перечисленных систем.
				p Существует несколько видов наливных полов: на основе гипса, цемента или полимерного эпоксидного или полиуретанового вяжущего. Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				
				div.p-slider.p-slider--c-middle
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3
						div.p-slider__content
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				h2 Подготовка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.
				ol
					li Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					li Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				.color-block.color-block--light.c-middle__block 
					.color-block__inner Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.
				h3 Необходимые материалы
				p По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.
				p Правильность установки маяков проверяется уровнем или нивелиром.
				.color-block.color-block--aque.c-middle__block.c-middle__block--linked
					a(href='#').color-block__link
					.color-block__inner
						.color-block__next Следующая статья
						.color-block__title Технология формирования компаундного наливного пола
						a(href='#').color-block__out Перейти

local/templates/main/tpl/article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>article</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="c-top">
          <div class="c-top__bg c-top__bg--1"></div>
          <div class="c-top__inner">
            <div class="c-top__aside"></div>
            <div class="c-top__cont">
              <div class="c-top__c-row">
                <div class="c-top__c-col">
                  <div class="bread">
                    <ul class="bread__list">
                      <li class="bread__l-item"><a class="bread__link" href="#">Главная </a></li>
                      <li class="bread__l-item"><a class="bread__link" href="#">Статьи</a></li>
                      <li class="bread__l-item">Новая модель полиуретановых полов</li>
                    </ul>
                  </div>
                  <h1 class="h1">Новая модель полиуретановых полов</h1>
                  <div class="c-top__wrap-date">
                    <div class="c-top__date">24.07.18</div>
                  </div>
                </div>
                <div class="c-top__c-col"><a class="link link--bordered link--blue c-top__link" href="#">К списку новостей</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="i-projects__row">
            <!-- Соотношение сторон 16:8-->
            <div class="c-middle__photo" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
          </div>
          <div class="c-middle">
            <div class="c-middle__content">
              <div class="c-middle__desc">Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также, монтаж всех перечисленных систем.</div>
              <p>Существует несколько видов наливных полов: на основе гипса, цемента или полимерного эпоксидного или полиуретанового вяжущего. Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.</p>
              <div class="p-slider p-slider--c-middle">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                  <div class="p-slider__content">
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                </div>
              </div>
              <h2>Подготовка основания</h2>
              <p>Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.</p>
              <ol>
                <li>Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</li>
                <li>Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.</li>
              </ol>
              <div class="color-block color-block--light c-middle__block"> 
                <div class="color-block__inner">Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.</div>
              </div>
              <h3>Необходимые материалы</h3>
              <p>По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.</p>
              <p>Правильность установки маяков проверяется уровнем или нивелиром.</p>
              <div class="color-block color-block--aque c-middle__block c-middle__block--linked"><a class="color-block__link" href="#"></a>
                <div class="color-block__inner">
                  <div class="color-block__next">Следующая статья</div>
                  <div class="color-block__title">Технология формирования компаундного наливного пола</div><a class="color-block__out" href="#">Перейти</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
