local/templates/main/tpl/articles_all.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>articles all</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="c-top">
          <div class="c-top__inner">
            <div class="c-top__aside"></div>
            <div class="c-top__cont">
              <div class="bread">
                <ul class="bread__list">
                  <li class="bread__l-item"><a class="bread__link" href="#">Главная </a></li>
                  <li class="bread__l-item">Статьи</li>
                </ul>
              </div>
              <h1 class="h1">Статьи</h1>
              <div class="c-top__txt">Новости компании и полезная информация <br> о нашей продукции и ее использовании.</div>
            </div>
          </div>
        </div>
        <div class="container container--middle">
          <div class="b-banner">
            <div class="b-banner__fingerprint"><img src="assets/images/static/fingerprint_12.svg" alt=""></div><a class="b-banner__link" href="#"></a>
            <div class="b-banner__pic" style="background-image: url(assets/images/content/content_2.png);"></div>
            <div class="b-banner__txt-box"><a class="b-banner__btn" href="#"></a>
              <div class="b-banner__t-wrap">
                <div class="b-banner__date">24.07.18</div>
                <div class="b-banner__title">Как правильно подобрать материал</div>
                <div class="b-banner__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении...</div>
              </div>
            </div>
          </div>
          <div class="c-list">
            <div class="c-list__row">
              <div class="c-list__box c-list__box--pic"><a class="c-list__b-link" href="#"></a><img class="c-list__pic" src="assets/images/content/content_3.png" alt="">
                <div class="c-list__b-txt"><a class="c-list__btn" href="#"></a>
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Гипермаркет «Лента»</div>
                  </div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления</div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.</div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.</div>
                </div>
              </div>
              <div class="c-list__box c-list__box--banner">
                <div class="c-list__pic" style="background-image: url(assets/images/content/content_4.png)"></div><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                </div>
              </div>
              <div class="c-list__box c-list__box--pic"><a class="c-list__b-link" href="#"></a><img class="c-list__pic" src="assets/images/content/content_5.png" alt="">
                <div class="c-list__b-txt"><a class="c-list__btn" href="#"></a>
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Правила для получения гладкой поверхности</div>
                  </div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления</div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.</div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления</div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.</div>
                </div>
              </div>
              <div class="c-list__box c-list__box--pic"><a class="c-list__b-link" href="#"></a><img class="c-list__pic" src="assets/images/content/content_6.png" alt="">
                <div class="c-list__b-txt"><a class="c-list__btn" href="#"></a>
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Правила для получения гладкой поверхности</div>
                  </div>
                </div>
              </div>
              <div class="c-list__box c-list__box--banner">
                <div class="c-list__pic" style="background-image: url(assets/images/content/content_4.png)"></div><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.</div>
                </div>
              </div>
              <div class="c-list__box"><a class="c-list__b-link" href="#"></a><a class="c-list__btn" href="#"></a>
                <div class="c-list__b-txt">
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Подготовка основания к грунтовке</div>
                  </div>
                  <div class="c-list__desc">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.</div>
                </div>
              </div>
              <div class="c-list__box c-list__box--pic"><a class="c-list__b-link" href="#"></a><img class="c-list__pic" src="assets/images/content/content_5.png" alt="">
                <div class="c-list__b-txt"><a class="c-list__btn" href="#"></a>
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Правила для получения гладкой поверхности</div>
                  </div>
                </div>
              </div>
              <div class="c-list__box c-list__box--pic"><a class="c-list__b-link" href="#"></a><img class="c-list__pic" src="assets/images/content/content_6.png" alt="">
                <div class="c-list__b-txt"><a class="c-list__btn" href="#"></a>
                  <div class="c-list__wrap-title">
                    <div class="c-list__date">24.07.18</div>
                    <div class="c-list__title">Правила для получения гладкой поверхности</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination"><a class="pagination__link pagination__link--arr-back" href="#"></a><a class="pagination__link is-active" href="#">1</a><a class="pagination__link" href="#">2</a><a class="pagination__link" href="#">3</a><a class="pagination__link" href="#">4</a><a class="pagination__link pagination__link--arr-frw" href="#"></a></div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/articles_all.pug
extends layout

block title
	title articles all

block content
	.c-top
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.bread
					ul.bread__list
						li.bread__l-item
							a(href="#").bread__link Главная 
						li.bread__l-item
							| Статьи
				h1.h1 Статьи
				.c-top__txt Новости компании и полезная информация <br> о нашей продукции и ее использовании.

	.container.container--middle
		.b-banner
			.b-banner__fingerprint
				img(src="assets/images/static/fingerprint_12.svg", alt="")
			a(href='#').b-banner__link
			.b-banner__pic(style='background-image: url(assets/images/content/content_2.png);')
			.b-banner__txt-box
				a(href="#").b-banner__btn
				.b-banner__t-wrap
					.b-banner__date 24.07.18
					.b-banner__title Как правильно подобрать материал
					.b-banner__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении...

		.c-list
			.c-list__row
				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_3.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Гипермаркет «Лента»

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления
					
				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box.c-list__box--banner
					.c-list__pic(style='background-image: url(assets/images/content/content_4.png)')
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_5.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления
					
				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления
					
				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_6.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности

				.c-list__box.c-list__box--banner
					.c-list__pic(style='background-image: url(assets/images/content/content_4.png)')
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box
					a.c-list__b-link(href='#')
					a.c-list__btn(href='#')
					.c-list__b-txt
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Подготовка основания к грунтовке
						.c-list__desc В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления.

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_5.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности

				.c-list__box.c-list__box--pic
					a.c-list__b-link(href='#')
					img(src="assets/images/content/content_6.png", alt="").c-list__pic
					.c-list__b-txt
						a.c-list__btn(href='#')
						.c-list__wrap-title
							.c-list__date 24.07.18
							.c-list__title Правила для получения гладкой поверхности
		include blocks/pagination
