local/templates/main/tpl/src/templates/catalog.pug
extends layout

block title
	title catalog

block content
	div.welcome
		div.welcome__inner
			div.welcome__aside
				div.welcome__aside-content
					div.welcome__aside-bread
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная 
								li.bread__l-item
									| Статьи
					div.welcome__aside-title.h1 Эпоксидные полы
					div.welcome__aside-text Мы предлагаем эпоксидные полы для всех типов объектов
			div.welcome__media
				div(style='background-image:url(assets/images/content/welcome_2.jpg)').welcome__media-image
		div.welcome__image
			img(src="assets/images/static/fingerprint_2.svg", alt="").welcome__image-file

	div.container

		div.components
			div.components__s-name
				div.s-name.s-name--left.s-name--border
					div.s-name__text
						div.s-name__title составляющие<br>эпоксидного пола

			div.components__inner
				div.component
					div.component__step
						div.component__step-num 1
						div.component__step-info
							div.component__step-type Этап
							div.component__step-title Грунтовка<br>основания

					div.component__c-card
						div.c-card
							a(href="#").c-card__link
							div.c-card__row
								div.c-card__image
									// 145x205
									img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
								div.c-card__content
									div.c-card__content-top
										div.c-card__title Эпоксидная грунтовка Harpiks
										div.c-card__prices
											div.c-card__prices-full 4 570 руб.
											div.c-card__prices-detail 500 руб./м<sup>2</suo>
									div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
							div.c-list__btn

				div.component
					div.component__step
						div.component__step-num 2
						div.component__step-info
							div.component__step-type Этап
							div.component__step-title Шпатлевка

					div.component__c-card
						div.c-card
							a(href="#").c-card__link
							div.c-card__row
								div.c-card__image
									// 145x205
									img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
								div.c-card__content
									div.c-card__content-top
										div.c-card__title Эпоксидная шпатлевка Harpiks
										div.c-card__prices
											div.c-card__prices-full 4 570 руб.
											div.c-card__prices-detail 500 руб./м<sup>2</suo>
									div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
							div.c-list__btn

				div.component
					div.component__step
						div.component__step-num 3
						div.component__step-info
							div.component__step-type Этап
							div.component__step-title Финишный слой

					div.component__c-card
						div.c-card
							a(href="#").c-card__link
							div.c-card__row
								div.c-card__image
									// 145x205
									img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
								div.c-card__content
									div.c-card__content-top
										div.c-card__title Эпоксидный пол Harpiks
										div.c-card__prices
											div.c-card__prices-full 4 570 руб.
											div.c-card__prices-detail 500 руб./м<sup>2</suo>
									div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
							div.c-list__btn

		div.bq
			div.bq__title Дополнительные<br>возможности
			div.bq__text Эпоксидные полы могут выглядеть практически как угодно. Возможность колеровать пол в любой цвет по таблице RAL  и добавление акриловых флоков дают сотни комбинаций цветов и фактур.

		div.offers
			div.offers__card
				div.c-card.c-card--min
					a(href="#").c-card__link
					div.c-card__row
						div.c-card__image
							// 145x205
							img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
						div.c-card__content
							div.c-card__content-top
								div.c-card__title Акриловые флоки Harpiks
								div.c-card__prices
									div.c-card__prices-full 4 570 руб.
									div.c-card__prices-detail 500 руб./м<sup>2</sup>
							div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
					div.c-list__btn
			div.offers__card
				div.c-card.c-card--min
					a(href="#").c-card__link
					div.c-card__row
						div.c-card__image
							// 145x205
							img(src="assets/images/content/c-card-img.png", alt="").c-card__image-file
						div.c-card__content
							div.c-card__content-top
								div.c-card__title Защитный лак Harpiks
								div.c-card__prices
									div.c-card__prices-full 4 570 руб.
									div.c-card__prices-detail 500 руб./м<sup>2</suo>
							div.c-card__text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
					div.c-list__btn

		div.types
			div.types__item.types__item--brown
				a(href="#").types__item-link
				div.types__item-name Полиуретановые<br>полы
			div.types__item.types__item--blue
				a(href="#").types__item-link
				div.types__item-name Спортивные<br>полы
			div.types__item.types__item--light
				a(href="#").types__item-link
				div.types__item-name Краски и лаки

		div.c-article
			a(href="#").c-article__link
			div(style='background-image:url(assets/images/content/c-article.jpg)').c-article__image
			div.c-article__content
				div.c-article__date 24.07.18
				div.c-article__title.h2 Как правильно подобрать материал
				div.c-article__text В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении...
				div.c-list__btn

local/templates/main/tpl/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>catalog</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a>
                  <a class="header__dorp-link" href="#">Полиуретановые полы</a>
                  <a class="header__dorp-link" href="#">Спортивные покрытия</a>
                  <a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a>
                  <a class="header__dorp-link" href="#">Покрытия промышленного назначения</a>
                  <a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="welcome">
          <div class="welcome__inner">
            <div class="welcome__aside">
              <div class="welcome__aside-content">
                <div class="welcome__aside-bread">
                  <div class="bread">
                    <ul class="bread__list">
                      <li class="bread__l-item"><a class="bread__link" href="#">Главная </a></li>
                      <li class="bread__l-item">Статьи</li>
                    </ul>
                  </div>
                </div>
                <div class="welcome__aside-title h1">Эпоксидные полы</div>
                <div class="welcome__aside-text">Мы предлагаем эпоксидные полы для всех типов объектов</div>
              </div>
            </div>
            <div class="welcome__media">
              <div class="welcome__media-image" style="background-image:url(assets/images/content/welcome_2.jpg)"></div>
            </div>
          </div>
          <div class="welcome__image"><img class="welcome__image-file" src="assets/images/static/fingerprint_2.svg" alt=""></div>
        </div>
        <div class="container">
          <div class="components">
            <div class="components__s-name">
              <div class="s-name s-name--left s-name--border">
                <div class="s-name__text">
                  <div class="s-name__title">составляющие<br>эпоксидного пола</div>
                </div>
              </div>
            </div>
            <div class="components__inner">
              <div class="component">
                <div class="component__step">
                  <div class="component__step-num">1</div>
                  <div class="component__step-info">
                    <div class="component__step-type">Этап</div>
                    <div class="component__step-title">Грунтовка<br>основания</div>
                  </div>
                </div>
                <div class="component__c-card">
                  <div class="c-card"><a class="c-card__link" href="#"></a>
                    <div class="c-card__row">
                      <div class="c-card__image">
                        <!-- 145x205--><img class="c-card__image-file" src="assets/images/content/c-card-img.png" alt="">
                      </div>
                      <div class="c-card__content">
                        <div class="c-card__content-top">
                          <div class="c-card__title">Эпоксидная грунтовка Harpiks</div>
                          <div class="c-card__prices">
                            <div class="c-card__prices-full">4 570 руб.</div>
                            <div class="c-card__prices-detail">500 руб./м<sup>2</suo></div>
                          </div>
                        </div>
                        <div class="c-card__text">Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.</div>
                      </div>
                    </div>
                    <div class="c-list__btn"></div>
                  </div>
                </div>
              </div>
              <div class="component">
                <div class="component__step">
                  <div class="component__step-num">2</div>
                  <div class="component__step-info">
                    <div class="component__step-type">Этап</div>
                    <div class="component__step-title">Шпатлевка</div>
                  </div>
                </div>
                <div class="component__c-card">
                  <div class="c-card"><a class="c-card__link" href="#"></a>
                    <div class="c-card__row">
                      <div class="c-card__image">
                        <!-- 145x205--><img class="c-card__image-file" src="assets/images/content/c-card-img.png" alt="">
                      </div>
                      <div class="c-card__content">
                        <div class="c-card__content-top">
                          <div class="c-card__title">Эпоксидная шпатлевка Harpiks</div>
                          <div class="c-card__prices">
                            <div class="c-card__prices-full">4 570 руб.</div>
                            <div class="c-card__prices-detail">500 руб./м<sup>2</suo></div>
                          </div>
                        </div>
                        <div class="c-card__text">Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.</div>
                      </div>
                    </div>
                    <div class="c-list__btn"></div>
                  </div>
                </div>
              </div>
              <div class="component">
                <div class="component__step">
                  <div class="component__step-num">3</div>
                  <div class="component__step-info">
                    <div class="component__step-type">Этап</div>
                    <div class="component__step-title">Финишный слой</div>
                  </div>
                </div>
                <div class="component__c-card">
                  <div class="c-card"><a class="c-card__link" href="#"></a>
                    <div class="c-card__row">
                      <div class="c-card__image">
                        <!-- 145x205--><img class="c-card__image-file" src="assets/images/content/c-card-img.png" alt="">
                      </div>
                      <div class="c-card__content">
                        <div class="c-card__content-top">
                          <div class="c-card__title">Эпоксидный пол Harpiks</div>
                          <div class="c-card__prices">
                            <div class="c-card__prices-full">4 570 руб.</div>
                            <div class="c-card__prices-detail">500 руб./м<sup>2</suo></div>
                          </div>
                        </div>
                        <div class="c-card__text">Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.</div>
                      </div>
                    </div>
                    <div class="c-list__btn"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bq">
            <div class="bq__title">Дополнительные<br>возможности</div>
            <div class="bq__text">Эпоксидные полы могут выглядеть практически как угодно. Возможность колеровать пол в любой цвет по таблице RAL  и добавление акриловых флоков дают сотни комбинаций цветов и фактур.</div>
          </div>
          <div class="offers">
            <div class="offers__card">
              <div class="c-card c-card--min"><a class="c-card__link" href="#"></a>
                <div class="c-card__row">
                  <div class="c-card__image">
                    <!-- 145x205--><img class="c-card__image-file" src="assets/images/content/c-card-img.png" alt="">
                  </div>
                  <div class="c-card__content">
                    <div class="c-card__content-top">
                      <div class="c-card__title">Акриловые флоки Harpiks</div>
                      <div class="c-card__prices">
                        <div class="c-card__prices-full">4 570 руб.</div>
                        <div class="c-card__prices-detail">500 руб./м<sup>2</sup></div>
                      </div>
                    </div>
                    <div class="c-card__text">Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.</div>
                  </div>
                </div>
                <div class="c-list__btn"></div>
              </div>
            </div>
            <div class="offers__card">
              <div class="c-card c-card--min"><a class="c-card__link" href="#"></a>
                <div class="c-card__row">
                  <div class="c-card__image">
                    <!-- 145x205--><img class="c-card__image-file" src="assets/images/content/c-card-img.png" alt="">
                  </div>
                  <div class="c-card__content">
                    <div class="c-card__content-top">
                      <div class="c-card__title">Защитный лак Harpiks</div>
                      <div class="c-card__prices">
                        <div class="c-card__prices-full">4 570 руб.</div>
                        <div class="c-card__prices-detail">500 руб./м<sup>2</suo></div>
                      </div>
                    </div>
                    <div class="c-card__text">Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.</div>
                  </div>
                </div>
                <div class="c-list__btn"></div>
              </div>
            </div>
          </div>
          <div class="types">
            <div class="types__item types__item--brown"><a class="types__item-link" href="#"></a>
              <div class="types__item-name">Полиуретановые<br>полы</div>
            </div>
            <div class="types__item types__item--blue"><a class="types__item-link" href="#"></a>
              <div class="types__item-name">Спортивные<br>полы</div>
            </div>
            <div class="types__item types__item--light"><a class="types__item-link" href="#"></a>
              <div class="types__item-name">Краски и лаки</div>
            </div>
          </div>
          <div class="c-article"><a class="c-article__link" href="#"></a>
            <div class="c-article__image" style="background-image:url(assets/images/content/c-article.jpg)"></div>
            <div class="c-article__content">
              <div class="c-article__date">24.07.18</div>
              <div class="c-article__title h2">Как правильно подобрать материал</div>
              <div class="c-article__text">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении...</div>
              <div class="c-list__btn"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
