local/templates/main/tpl/faq.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>faq</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="c-top">
          <div class="c-top__inner">
            <div class="c-top__aside"></div>
            <div class="c-top__cont">
              <div class="bread">
                <ul class="bread__list">
                  <li class="bread__l-item"><a class="bread__link" href="#">Главная</a></li>
                  <li class="bread__l-item">FAQ</li>
                </ul>
              </div>
              <h1 class="h1">Часто задаваемые вопросы</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="faq">
            <div class="faq__fingerprint"><img src="assets/images/content/tree-circles_1.svg" alt=""></div>
            <div class="faq__themes">
              <div class="faq__theme is-active">Как выбрать тип покрытия</div>
              <div class="faq__theme">Сколько материалов потребуется</div>
              <div class="faq__theme">Эксплуатация</div>
              <div class="faq__theme">Монтаж</div>
              <div class="faq__theme">Оплата и доставка</div>
              <div class="faq__theme">Технические характеристики</div>
            </div>
            <div class="faq__asks">
              <div class="faq__asks-item is-active">
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">3D наливные полы</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать изъяны после застывания смеси?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Можно ли обойтись без грунтовки бетона?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
              </div>
              <div class="faq__asks-item">
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">3D наливные полы</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать изъяны после застывания смеси?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Можно ли обойтись без грунтовки бетона?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
              </div>
              <div class="faq__asks-item">
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">3D наливные полы</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать изъяны после застывания смеси?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Можно ли обойтись без грунтовки бетона?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
              </div>
              <div class="faq__asks-item">
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">3D наливные полы</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать изъяны после застывания смеси?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Можно ли обойтись без грунтовки бетона?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
              </div>
              <div class="faq__asks-item">
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">3D наливные полы</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать изъяны после застывания смеси?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Можно ли обойтись без грунтовки бетона?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
              </div>
              <div class="faq__asks-item">
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">3D наливные полы</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать изъяны после застывания смеси?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Можно ли обойтись без грунтовки бетона?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Как убрать перепады на полу?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
                <div class="faq__ask">
                  <div class="faq__ask-top">Что такое наливной пол?</div>
                  <div class="faq__ask-answer">В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/faq.pug
extends layout

block title
	title faq

block content
	.c-top
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.bread
					ul.bread__list
						li.bread__l-item
							a(href="#").bread__link Главная
						li.bread__l-item
							| FAQ
				h1.h1 Часто задаваемые вопросы

	div.container
		div.faq
			.faq__fingerprint
				img(src="assets/images/content/tree-circles_1.svg", alt="")
			div.faq__themes
				div.faq__theme.is-active Как выбрать тип покрытия
				div.faq__theme Сколько материалов потребуется
				div.faq__theme Эксплуатация
				div.faq__theme Монтаж
				div.faq__theme Оплата и доставка
				div.faq__theme Технические характеристики

			div.faq__asks
				div.faq__asks-item.is-active
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
				div.faq__asks-item
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top 3D наливные полы
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать изъяны после застывания смеси?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Можно ли обойтись без грунтовки бетона?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Как убрать перепады на полу?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
					div.faq__ask
						div.faq__ask-top Что такое наливной пол?
						div.faq__ask-answer В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой. Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя.
