local/templates/main/tpl/good.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>good page</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="good">
            <div class="good__image"><img class="good__image-file" src="assets/images/content/good-image.png" alt=""></div>
            <div class="good__content">
              <div class="good__bread">
                <div class="bread">
                  <ul class="bread__list">
                    <li class="bread__l-item"><a class="bread__link" href="#">Главная</a></li>
                    <li class="bread__l-item"><a class="bread__link" href="#">Каталог</a></li>
                    <li class="bread__l-item">Harpiks 205 C</li>
                  </ul>
                </div>
              </div>
              <div class="good__title">Harpiks 205 C</div>
              <div class="good__stats">
                <div class="good__stats-item">Основа – 22,8 кг</div>
                <div class="good__stats-item">Отвердитель – 4 кг</div>
              </div>
              <div class="good__detail">
                <div class="good__detail-text">Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.</div>
                <div class="good__detail-list">
                  <div class="good__detail-list-item">Высокая наполняемость песком</div>
                  <div class="good__detail-list-item">Отличная растекаемость</div>
                  <div class="good__detail-list-item">Быстрое отверждение</div>
                </div>
              </div>
              <div class="good__pricing">
                <div class="good__price">4 570 руб.</div>
                <div class="good__stats">
                  <div class="good__stats-item">1300 руб./кг</div>
                  <div class="good__stats-item">500 руб./м<sup>2</sup></div>
                </div>
              </div>
              <div class="good__buttons">
                <div class="good__order"><a class="button button--small button--blue good__order-button" href="#">Заказать</a></div>
                <div class="good__links">
                  <div class="good__links-item"><a class="link link--blue link--bordered" href="#">Доставка и оплата</a></div>
                  <div class="good__links-item"><a class="link link--blue link--bordered" href="#">Гарантия и обмен</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-props">
            <div class="g-props__content">
              <div class="g-props__title">Характеристики</div>
              <div class="g-props__row">
                <div class="g-props__item">
                  <div class="g-props__item-title">2,5 МПа</div>
                  <div class="g-props__item-text">Адгезия к бетону</div>
                </div>
                <div class="g-props__item">
                  <div class="g-props__item-title">48 мг</div>
                  <div class="g-props__item-text">Износостойкость по Таберу</div>
                </div>
                <div class="g-props__item">
                  <div class="g-props__item-title">96%</div>
                  <div class="g-props__item-text">Сухой остаток</div>
                </div>
                <div class="g-props__item">
                  <div class="g-props__item-title">24 часа</div>
                  <div class="g-props__item-text">Время высыхания</div>
                </div>
                <div class="g-props__item">
                  <div class="g-props__item-title">1,5 кг/м<sup>2</sup> в 1 мм</div>
                  <div class="g-props__item-text">Расход</div>
                </div>
                <div class="g-props__item">
                  <div class="g-props__item-title">Есть</div>
                  <div class="g-props__item-text">Стойкость к нефтехимии</div>
                </div>
              </div>
              <div class="g-props__link"><a class="link link--white link--bordered" href="#">Скачать характеристики</a></div>
            </div>
          </div>
          <div class="examples">
            <div class="examples__s-name">
              <div class="s-name s-name--left">
                <div class="s-name__text">
                  <div class="s-name__title">Применение на объектах</div>
                </div>
              </div>
            </div>
            <div class="examples__arrows">
              <div class="examples__arrow examples__arrow--prev"></div>
              <div class="examples__arrow examples__arrow--next"></div>
            </div>
            <div class="examples__scene">
              <div class="item">
                <div class="p-slider p-slider--small p-slider--full">
                  <div class="t-slider">
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                    </div>
                  </div>
                  <div class="p-slider__bottom">
                    <div class="p-slider__content">
                      <div class="p-slider__title">Жилая квартира в центра Петербурга</div>
                      <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    </div>
                    <div class="p-slider__controls">
                      <div class="p-slider__arrows">
                        <div class="p-slider__arr p-slider__arr--prev"></div>
                        <div class="p-slider__arr p-slider__arr--next"></div>
                      </div>
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent"></div>
                        <div class="p-slider__value"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="p-slider p-slider--small p-slider--full">
                  <div class="t-slider">
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                    </div>
                  </div>
                  <div class="p-slider__bottom">
                    <div class="p-slider__content">
                      <div class="p-slider__title">Жилая квартира в центра Петербурга</div>
                      <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    </div>
                    <div class="p-slider__controls">
                      <div class="p-slider__arrows">
                        <div class="p-slider__arr p-slider__arr--prev"></div>
                        <div class="p-slider__arr p-slider__arr--next"></div>
                      </div>
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent"></div>
                        <div class="p-slider__value"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="p-slider p-slider--small p-slider--full">
                  <div class="t-slider">
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                    </div>
                  </div>
                  <div class="p-slider__bottom">
                    <div class="p-slider__content">
                      <div class="p-slider__title">Жилая квартира в центра Петербурга</div>
                      <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    </div>
                    <div class="p-slider__controls">
                      <div class="p-slider__arrows">
                        <div class="p-slider__arr p-slider__arr--prev"></div>
                        <div class="p-slider__arr p-slider__arr--next"></div>
                      </div>
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent"></div>
                        <div class="p-slider__value"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="p-slider p-slider--small p-slider--full">
                  <div class="t-slider">
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                    </div>
                    <div class="p-slider__slide">
                      <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                    </div>
                  </div>
                  <div class="p-slider__bottom">
                    <div class="p-slider__content">
                      <div class="p-slider__title">Жилая квартира в центра Петербурга</div>
                      <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    </div>
                    <div class="p-slider__controls">
                      <div class="p-slider__arrows">
                        <div class="p-slider__arr p-slider__arr--prev"></div>
                        <div class="p-slider__arr p-slider__arr--next"></div>
                      </div>
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent"></div>
                        <div class="p-slider__value"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-info">
            <div class="g-info__inner">
              <div class="g-info__content">
                <div class="g-info__content-row">
                  <div class="g-info__main">
                    <div class="g-info__main-title">Самостоятельный монтаж</div>
                    <div class="g-info__main-text">для помещений площадью  менее 1 000 м2</div>
                  </div>
                  <div class="g-info__text">
                    <p>Мы сделали всё для удобства работы. Материал специально поставляется  в комплектах. В большое ведро выливаем содержимое малого. Ошибиться  с пропорциями сложно.</p>
                    <p>В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.</p>
                    <div class="g-info__link"><a class="link link--blue link--bordered" href="#">Скачать инструкцию</a></div>
                  </div>
                </div>
                <div class="g-info__sub">
                  <div class="g-info__sub-col">
                    <div class="g-info__sub-main">Для компаний и сложных проектов предоставляются дополнительные услуги монтажа:</div>
                  </div>
                  <div class="g-info__sub-col">
                    <div class="g-info__option">
                      <div class="g-info__option-title">Шеф-монтаж</div>
                      <div class="g-info__option-text">для помещений площадью  1 000 м<sup>2</sup> – 3 000 м<sup>2</sup></div>
                    </div>
                  </div>
                  <div class="g-info__sub-col">
                    <div class="g-info__option">
                      <div class="g-info__option-title">Профессиональная бригада</div>
                      <div class="g-info__option-text">для помещений площадью  более 3 000 м<sup>2</sup></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-info__video">
                <div class="c-middle__video" style="background-image: url(assets/images/content/video_1.png)"><a class="c-middle__v-link js-youtube" href="https://www.youtube.com/watch?v=-jzTb7y92pk"></a></div>
              </div>
            </div>
          </div>
          <div class="g-steps">
            <div class="container">
              <div class="g-steps__inner">
                <div class="g-steps__title">Этапы укладки</div>
                <div class="g-steps__row">
                  <div class="g-steps__item">
                    <div class="g-steps__item-inner">
                      <div class="g-steps__item-title">Шлифование  и обеспыливание</div>
                      <div class="g-steps__item-text">Необходимо снять слой цементного молочка и пыли. Это обеспечит необходимое сцепление материала.</div>
                    </div>
                  </div>
                  <div class="g-steps__item">
                    <div class="g-steps__item-inner">
                      <div class="g-steps__item-title">Нанесение промежуточного слоя</div>
                      <div class="g-steps__item-text">Окончательно выравниваем и запечатываем поры, заполняем рытвины. Дополнительно упрочняем основание.</div>
                    </div>
                  </div>
                  <div class="g-steps__item">
                    <div class="g-steps__item-inner">
                      <div class="g-steps__item-title">Нанесение финишного слоя</div>
                      <div class="g-steps__item-text">Толщина от 1,5 до 5 мм. Придает декоративный вид полу и нужную фактуру.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-production">
            <div class="g-production__inner">
              <div class="g-production__content">
                <div class="g-production__title">Производство</div>
                <div class="g-production__text">
                  <p>В рецептурах мы используем импортные смолы и добавки. Сыпучие компоненты используем российские. Это позволяет нам не уступать по качеству европейским конкурентам и быстрее реагировать на просьбы клиентов.</p>
                </div>
                <div class="g-production__wrap-serts">
                  <div class="g-production__serts-desc">Наше производство соответствует международным стандартам ISO 90001-03</div>
                  <div class="g-production__serts"><img class="g-production__sert" src="assets/images/content/sert-small.jpg" alt=""><img class="g-production__sert" src="assets/images/content/sert-small.jpg" alt=""></div>
                </div>
              </div>
              <div class="g-production__media g-production__media--video" style="background-image:url(assets/images/content/g-production.jpg)"><a class="c-middle__v-link js-youtube" href="https://www.youtube.com/watch?v=-jzTb7y92pk"></a></div>
            </div>
          </div>
          <div class="i-map">
            <div class="s-container">
              <div class="i-map__s-name">
                <div class="s-name s-name--left s-name--border">
                  <div class="s-name__text">
                    <div class="s-name__cat">Доставка</div>
                    <div class="s-name__title">Мы работаем по всей России</div>
                  </div>
                </div>
              </div>
              <div class="i-map__image i-map__image--mob wow fadeIn" data-wow-offset="50"><img src="assets/images/content/i-map--mob.svg" alt=""></div>
              <div class="i-map__image wow fadeIn" data-wow-offset="50"><img src="assets/images/content/i-map.svg" alt=""></div>
              <div class="i-map__delivery wow fadeInUp" data-wow-offset="100">
                <div class="i-map__delivery-item">
                  <div class="i-map__delivery-days">1</div>
                  <div class="i-map__delivery-content">
                    <div class="i-map__delivery-title">Дня</div>
                    <div class="i-map__delivery-region">Москва, Санкт-Петербург</div>
                  </div>
                </div>
                <div class="i-map__delivery-item">
                  <div class="i-map__delivery-days">5</div>
                  <div class="i-map__delivery-content">
                    <div class="i-map__delivery-title">Дней</div>
                    <div class="i-map__delivery-region">Центральная Россия</div>
                  </div>
                </div>
                <div class="i-map__delivery-item">
                  <div class="i-map__delivery-days">15</div>
                  <div class="i-map__delivery-content">
                    <div class="i-map__delivery-title">Дней</div>
                    <div class="i-map__delivery-region">Отдаленные регионы России</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-article c-article--good"><a class="c-article__link" href="#"></a>
            <div class="c-article__image" style="background-image:url(assets/images/content/c-article_2.jpg)"></div>
            <div class="c-article__content">
              <div class="c-article__title h2">Габариты и упаковка,<br>хранение</div>
              <div class="c-article__text"> 
                <p>В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой.</p>
                <p>Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении, исключив попадание прямых солнечных лучей и влаги; при температуре окружающей среды от 0 до +30°С</p>
              </div>
              <div class="c-list__btn"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/good.pug
extends layout

block title
	title good page

block content

	div.container

		div.good
			div.good__image
				img(src="assets/images/content/good-image.png", alt="").good__image-file

			div.good__content
				div.good__bread
					.bread
						ul.bread__list
							li.bread__l-item
								a(href="#").bread__link Главная
							li.bread__l-item
								a(href="#").bread__link Каталог
							li.bread__l-item
								| Harpiks 205 C

				div.good__title Harpiks 205 C
				div.good__stats
					div.good__stats-item Основа – 22,8 кг
					div.good__stats-item Отвердитель – 4 кг
				div.good__detail
					div.good__detail-text Низковязкий цветной эпоксидный состав  для устройства кварценаполняемых самовыравнивающихся полов на объектах промышленного назначения.
					div.good__detail-list
						div.good__detail-list-item Высокая наполняемость песком
						div.good__detail-list-item Отличная растекаемость
						div.good__detail-list-item Быстрое отверждение

				div.good__pricing
					div.good__price 4 570 руб.
					div.good__stats
						div.good__stats-item 1300 руб./кг
						div.good__stats-item 500 руб./м<sup>2</sup>

				div.good__buttons
					div.good__order
						a(href="#").button.button--small.button--blue.good__order-button Заказать
					div.good__links
						div.good__links-item
							a(href="#").link.link--blue.link--bordered Доставка и оплата
						div.good__links-item
							a(href="#").link.link--blue.link--bordered Гарантия и обмен

		div.g-props
			div.g-props__content
				div.g-props__title Характеристики
				div.g-props__row
					div.g-props__item
						div.g-props__item-title 2,5 МПа
						div.g-props__item-text Адгезия к бетону
					div.g-props__item
						div.g-props__item-title 48 мг
						div.g-props__item-text Износостойкость по Таберу
					div.g-props__item
						div.g-props__item-title 96%
						div.g-props__item-text Сухой остаток
					div.g-props__item
						div.g-props__item-title 24 часа
						div.g-props__item-text Время высыхания
					div.g-props__item
						div.g-props__item-title 1,5 кг/м<sup>2</sup> в 1 мм
						div.g-props__item-text Расход
					div.g-props__item
						div.g-props__item-title Есть
						div.g-props__item-text Стойкость к нефтехимии

				div.g-props__link
					a(href="#").link.link--white.link--bordered Скачать характеристики

		div.examples
			div.examples__s-name
				div.s-name.s-name--left
					div.s-name__text
						div.s-name__title Применение на объектах

			div.examples__arrows
				div.examples__arrow.examples__arrow--prev
				div.examples__arrow.examples__arrow--next

			div.examples__scene
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value
				div.item
					div.p-slider.p-slider--small.p-slider--full
						div.t-slider
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
							div.p-slider__slide
								div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__bottom
							div.p-slider__content
								div.p-slider__title Жилая квартира в центра Петербурга
								div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__controls
								div.p-slider__arrows
									div.p-slider__arr.p-slider__arr--prev
									div.p-slider__arr.p-slider__arr--next
								div.p-slider__counter
									div.p-slider__currrent
									div.p-slider__value

		div.g-info
			div.g-info__inner
				div.g-info__content
					div.g-info__content-row
						div.g-info__main
							div.g-info__main-title Самостоятельный монтаж
							div.g-info__main-text для помещений площадью  менее 1 000 м2
						div.g-info__text
							p Мы сделали всё для удобства работы. Материал специально поставляется  в комплектах. В большое ведро выливаем содержимое малого. Ошибиться  с пропорциями сложно.
							p В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.
							div.g-info__link
								a(href="#").link.link--blue.link--bordered Скачать инструкцию

					div.g-info__sub
						div.g-info__sub-col
							div.g-info__sub-main Для компаний и сложных проектов предоставляются дополнительные услуги монтажа:
						div.g-info__sub-col
							div.g-info__option
								div.g-info__option-title Шеф-монтаж
								div.g-info__option-text для помещений площадью  1 000 м<sup>2</sup> – 3 000 м<sup>2</sup>
						div.g-info__sub-col
							div.g-info__option
								div.g-info__option-title Профессиональная бригада
								div.g-info__option-text для помещений площадью  более 3 000 м<sup>2</sup>

				div.g-info__video
					.c-middle__video(style='background-image: url(assets/images/content/video_1.png)')
						a(href='https://www.youtube.com/watch?v=-jzTb7y92pk').c-middle__v-link.js-youtube

		div.g-steps
			div.container
				div.g-steps__inner
					div.g-steps__title Этапы укладки
					div.g-steps__row
						div.g-steps__item
							div.g-steps__item-inner
								div.g-steps__item-title Шлифование  и обеспыливание
								div.g-steps__item-text Необходимо снять слой цементного молочка и пыли. Это обеспечит необходимое сцепление материала.
						div.g-steps__item
							div.g-steps__item-inner
								div.g-steps__item-title Нанесение промежуточного слоя
								div.g-steps__item-text Окончательно выравниваем и запечатываем поры, заполняем рытвины. Дополнительно упрочняем основание.
						div.g-steps__item
							div.g-steps__item-inner
								div.g-steps__item-title Нанесение финишного слоя
								div.g-steps__item-text Толщина от 1,5 до 5 мм. Придает декоративный вид полу и нужную фактуру.

		div.g-production
			div.g-production__inner
				div.g-production__content
					div.g-production__title Производство
					div.g-production__text
						p В рецептурах мы используем импортные смолы и добавки. Сыпучие компоненты используем российские. Это позволяет нам не уступать по качеству европейским конкурентам и быстрее реагировать на просьбы клиентов.
					.g-production__wrap-serts
						.g-production__serts-desc Наше производство соответствует международным стандартам ISO 90001-03
						div.g-production__serts
							img(src="assets/images/content/sert-small.jpg", alt="").g-production__sert
							img(src="assets/images/content/sert-small.jpg", alt="").g-production__sert
				div(style='background-image:url(assets/images/content/g-production.jpg)').g-production__media.g-production__media--video
					a(href="https://www.youtube.com/watch?v=-jzTb7y92pk").c-middle__v-link.js-youtube


		div.i-map
			div.s-container
				div.i-map__s-name
					div.s-name.s-name--left.s-name--border
						div.s-name__text
							div.s-name__cat Доставка
							div.s-name__title Мы работаем по всей России
				div(data-wow-offset='50').i-map__image.i-map__image--mob.wow.fadeIn
					img(src="assets/images/content/i-map--mob.svg", alt="")
				div(data-wow-offset='50').i-map__image.wow.fadeIn
					img(src="assets/images/content/i-map.svg", alt="")
				div(data-wow-offset='100').i-map__delivery.wow.fadeInUp
					div.i-map__delivery-item
						div.i-map__delivery-days 1
						div.i-map__delivery-content
							div.i-map__delivery-title Дня
							div.i-map__delivery-region Москва, Санкт-Петербург
					div.i-map__delivery-item
						div.i-map__delivery-days 5
						div.i-map__delivery-content
							div.i-map__delivery-title Дней
							div.i-map__delivery-region Центральная Россия
					div.i-map__delivery-item
						div.i-map__delivery-days 15
						div.i-map__delivery-content
							div.i-map__delivery-title Дней
							div.i-map__delivery-region Отдаленные регионы России
		
		div.c-article.c-article--good
			a(href="#").c-article__link
			div(style='background-image:url(assets/images/content/c-article_2.jpg)').c-article__image
			div.c-article__content
				div.c-article__title.h2 Габариты и упаковка,<br>хранение
				div.c-article__text 
					p В зависимости от количества комплектов, груз может быть поставлен на паллеты или ехать отдельно с обрешёткой.
					p Основа – 12 месяцев, отвердитель - 6 месяцев со дня изготовления. Хранить в таре производителя; в помещении, исключив попадание прямых солнечных лучей и влаги; при температуре окружающей среды от 0 до +30°С
				div.c-list__btn





































	
