local/templates/main/tpl/installation.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>installation</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="c-top">
          <div class="c-top__bg c-top__bg--1"></div>
          <div class="c-top__inner">
            <div class="c-top__aside"></div>
            <div class="c-top__cont">
              <div class="bread">
                <ul class="bread__list">
                  <li class="bread__l-item"><a class="bread__link" href="#">Главная </a></li>
                  <li class="bread__l-item"><a class="bread__link" href="#">О компании </a></li>
                  <li class="bread__l-item">Монтаж</li>
                </ul>
              </div>
              <h1 class="h1">Монтаж </h1>
              <div class="c-top__desc">Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также монтаж всех перечисленных систем.</div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="c-middle">
            <div class="c-middle__t-row">
              <div class="c-middle__txt-box">
                <div class="c-middle__t-title">Самостоятельный монтаж</div>
                <div class="c-middle__t-desc">для помещений площадью менее 1 000 м<sup>2</sup></div>
              </div>
              <div class="c-middle__txt-box">
                <div class="c-middle__t-title">Шеф-монтаж</div>
                <div class="c-middle__t-desc">для помещений площадью 1 000 м<sup>2</sup> – 3 000 м<sup>2</sup></div>
              </div>
              <div class="c-middle__txt-box">
                <div class="c-middle__t-title">Профессиональная бригада</div>
                <div class="c-middle__t-desc">для помещений площадью более 3 000 м<sup>2</sup></div>
              </div>
            </div>
            <div class="c-middle__video" style="background-image: url(assets/images/content/video_1.png)"><a class="c-middle__v-link js-youtube" href="https://www.youtube.com/watch?v=-jzTb7y92pk"></a></div>
            <div class="c-middle__content">
              <h2>Самостоятельный монтаж</h2>
              <p>Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.</p>
              <p>В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.</p><a class="link link--bordered link--blue c-middle__link" href="#">Скачать инструкцию</a>
              <div class="color-block color-block--light c-middle__block"> 
                <div class="color-block__inner">Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.</div>
              </div>
              <p>Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.</p>
              <hr>
              <h2>Шеф-монтаж</h2>
              <p>Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.</p>
              <p>В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.</p>
              <ol>
                <li>Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</li>
                <li>Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.</li>
              </ol>
              <p>Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.</p>
              <hr>
              <h2>Профессиональная бригада</h2>
              <p>Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.</p>
              <div class="c-middle__row">
                <div class="c-middle__col"><img src="assets/images/content/content_1.png" alt=""></div>
                <div class="c-middle__col">
                  <p>Важно помнить о технических особенностях материала.</p>
                </div>
              </div>
              <p>Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д. </p>
              <p>Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</p>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>

local/templates/main/tpl/src/templates/installation.pug
extends layout

block title
	title installation

block content
	.c-top
		.c-top__bg.c-top__bg--1
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.bread
					ul.bread__list
						li.bread__l-item
							a(href="#").bread__link Главная 
						li.bread__l-item
							a(href="#").bread__link О компании 
						li.bread__l-item
							| Монтаж
				h1.h1 Монтаж 
				.c-top__desc Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также монтаж всех перечисленных систем.

	.container
		.c-middle
			.c-middle__t-row
				.c-middle__txt-box
					.c-middle__t-title Самостоятельный монтаж
					.c-middle__t-desc для помещений площадью менее 1 000 м<sup>2</sup>
				.c-middle__txt-box
					.c-middle__t-title Шеф-монтаж
					.c-middle__t-desc для помещений площадью 1 000 м<sup>2</sup> – 3 000 м<sup>2</sup>
				.c-middle__txt-box
					.c-middle__t-title Профессиональная бригада
					.c-middle__t-desc для помещений площадью более 3 000 м<sup>2</sup>
			
			.c-middle__video(style='background-image: url(assets/images/content/video_1.png)')
				a(href='https://www.youtube.com/watch?v=-jzTb7y92pk').c-middle__v-link.js-youtube

			.c-middle__content
				h2 Самостоятельный монтаж
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				p В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.
				a(href='#').link.link--bordered.link--blue.c-middle__link Скачать инструкцию
				.color-block.color-block--light.c-middle__block 
					.color-block__inner Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				hr
				h2 Шеф-монтаж
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				p В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится. Поэтапная инструкция поможет.
				ol
					li Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					li Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				hr
				h2 Профессиональная бригада
				p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
				.c-middle__row
					.c-middle__col
						img(src="assets/images/content/content_1.png", alt='')
					.c-middle__col
						p Важно помнить о технических особенностях материала.
				p Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д. 
				p Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
