local/templates/main/tpl/src/templates/portfolio.pug
extends layout

block title
	title portfolio

block content
	div.welcome
		div.welcome__inner
			div.welcome__aside
				div.welcome__aside-content
					div.welcome__aside-bread
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная 
								li.bread__l-item
									| Портфолио
					div.welcome__aside-title.h1 Портфолио
					div.welcome__aside-text Более 150 работ различного масштаба и сложности.
			div.welcome__media
				div(style='background-image:url(assets/images/content/welcome_3.jpg)').welcome__media-image
		div.welcome__image
			img(src="assets/images/static/fingerprint_2.svg", alt="").welcome__image-file

	div.container
		div.portfolio
			div.i-projects__row
				div.p-slider
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Гипермаркет<br>«Лента»
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Жилая квартира в центра Петербурга
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_3.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Офис в Казани
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Гипермаркет<br>«Лента»
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_2.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Жилая квартира в центра Петербурга
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

				div.p-slider.p-slider--small
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__content
							div.p-slider__title Жилая квартира в центра Петербурга
							div.p-slider__text Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span>
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3

			include blocks/pagination
	

local/templates/main/tpl/portfolio.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>portfolio</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="welcome">
          <div class="welcome__inner">
            <div class="welcome__aside">
              <div class="welcome__aside-content">
                <div class="welcome__aside-bread">
                  <div class="bread">
                    <ul class="bread__list">
                      <li class="bread__l-item"><a class="bread__link" href="#">Главная </a></li>
                      <li class="bread__l-item">Портфолио</li>
                    </ul>
                  </div>
                </div>
                <div class="welcome__aside-title h1">Портфолио</div>
                <div class="welcome__aside-text">Более 150 работ различного масштаба и сложности.</div>
              </div>
            </div>
            <div class="welcome__media">
              <div class="welcome__media-image" style="background-image:url(assets/images/content/welcome_3.jpg)"></div>
            </div>
          </div>
          <div class="welcome__image"><img class="welcome__image-file" src="assets/images/static/fingerprint_2.svg" alt=""></div>
        </div>
        <div class="container">
          <div class="portfolio">
            <div class="i-projects__row">
              <div class="p-slider">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__content">
                    <div class="p-slider__title">Гипермаркет<br>«Лента»</div>
                    <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-slider p-slider--small">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__content">
                    <div class="p-slider__title">Жилая квартира в центра Петербурга</div>
                    <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-slider p-slider--small">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_3.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_3.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_3.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__content">
                    <div class="p-slider__title">Офис в Казани</div>
                    <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-slider">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__content">
                    <div class="p-slider__title">Гипермаркет<br>«Лента»</div>
                    <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-slider p-slider--small">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_2.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__content">
                    <div class="p-slider__title">Жилая квартира в центра Петербурга</div>
                    <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-slider p-slider--small">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__content">
                    <div class="p-slider__title">Жилая квартира в центра Петербурга</div>
                    <div class="p-slider__text">Наливной эпоксидный пол <span class='p-slider__text-note'>3 мм</span></div>
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination"><a class="pagination__link pagination__link--arr-back" href="#"></a><a class="pagination__link is-active" href="#">1</a><a class="pagination__link" href="#">2</a><a class="pagination__link" href="#">3</a><a class="pagination__link" href="#">4</a><a class="pagination__link pagination__link--arr-frw" href="#"></a></div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
