local/templates/main/tpl/src/templates/text_page.pug
extends layout

block title
	title text page

block content
	.c-top
		.c-top__bg.c-top__bg--1
		.c-top__inner
			.c-top__aside
			.c-top__cont
				.c-top__c-row
					.c-top__c-col
						.bread
							ul.bread__list
								li.bread__l-item
									a(href="#").bread__link Главная
								li.bread__l-item
									| Гарантия и обмен
						h1.h1 Гарантия и обмен
					.c-top__c-col

	.container
		.c-middle
			.c-middle__content
				.c-middle__desc Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также, монтаж всех перечисленных систем.

				p Существует несколько видов наливных полов: на основе гипса, цемента или полимерного эпоксидного или полиуретанового вяжущего. Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.

				p Наливной пол выбирают в зависимости от вида помещения (сухое или влажное) и требуемой толщины выравнивания. Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				.c-middle__wrap-pic
					img(src="assets/images/content/content_7.png", alt="").c-middle__pic.c-middle__pic--big
					.c-middle__p-desc Наливной пол в арт-галерее в Пскове.

				h2 Подготовка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.
				h3 Обработка основания
				p Поверхность должно очистить от пыли, масляных пятен, клея и других веществ, ослабляющих адгезию смеси с основой. Швы, стыки и трещины должны быть заделаны. На основание обязательно следует нанести ровным слоем грунтовку и просушить в течение 1—3 часов.
				a(href='#').link.link--blue.link--bordered.c-middle__link Грунтовые смеси Harpiks

				.color-block.color-block--light.c-middle__block 
					.color-block__inner Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.

				h3 Необходимые материалы
				p По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.
				p Правильность установки маяков проверяется уровнем или нивелиром.
				.c-middle__row
					.c-middle__col
						img(src="assets/images/content/content_1.png", alt='')
					.c-middle__col
						p Важно помнить о технических особенностях материала.
				p Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				p Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				div.p-slider.p-slider--c-middle
					div.p-slider__scene.owl-carousel
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
						div.p-slider__slide
							div(style='background-image:url(assets/images/content/p-slider_1.jpg)').p-slider__image
					div.p-slider__bottom
						div.p-slider__controls
							div.p-slider__controls-inner
								div.p-slider__counter
									div.p-slider__currrent 1
									div.p-slider__value 3
						div.p-slider__content
							div.p-slider__descr Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.

				h2 Подготовка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см. 
				ol
					li Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					li Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.
				img(src='assets/images/content/content_8.png', alt='').c-middle__pic.c-middle__pic--left
				img(src='assets/images/content/content_9.png', alt='').c-middle__pic.c-middle__pic--right

				h2 Обработка основания
				p Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.
				ul
					li Существуют тонко- и толстослойные наливные полы.
					li Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
				.c-middle__t-row
					.c-middle__t-col
						| Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.
					.c-middle__t-col.c-middle__t-col--colored
						.c-middle__t-txt
							| Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси.

				.c-middle__video.c-middle__video--middle(style='background-image: url(assets/images/content/video_1.png)')
					a(href='https://www.youtube.com/watch?v=-jzTb7y92pk').c-middle__v-link.js-youtube
				.c-middle__files
					.x-files
						a(href='#').x-files__link
						.x-files__icon
						.x-files__txt-box
							.x-files__title Необходимые материалы
							.x-files__desc PDF, 3,8 Мб
				h4 Необходимые материалы
				p По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.
				p Правильность установки маяков проверяется уровнем или нивелиром.
				table
					thead
						tr
							th Типы покрытий:
							th Адгезия к бетону
							th Износостойкость по Таберу
							th Сухой остаток
							th Время высыхания
							th Расход (в 1 мм)
							th Стойкость к нефтехимии
					tbody
						tr
							td Эпоксидный пол
							td 2,5 МПа
							td 48 мг
							td 96%
							td 24 часа
							td 1,5 кг/м<sup>2</sup>
							td Есть
						tr
							td Полимерный пол
							td 2,5 МПа
							td 48 мг
							td 96%
							td 24 часа
							td 1,5 кг/м<sup>2</sup>
							td Есть
						tr
							td Спортивное резиновое покрытие
							td 2,5 МПа
							td 48 мг
							td 96%
							td 24 часа
							td 1,5 кг/м<sup>2</sup>
							td Есть

local/templates/main/tpl/text_page.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>text page</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__inner"><a class="header__logo" href="#">
            <div class="header__logo-max"><img class="header__logo-max-image" src="assets/images/static/logo-max.svg" alt="">
              <div class="header__logo-max-text">Надежность, качество, долговечность</div>
            </div>
            <div class="header__logo-min"><img class="header__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div></a>
          <div class="header__nav">
            <div class="header__nav-section">
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="https://google.com">Каталог</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Эпоксидные полы</a><a class="header__dorp-link" href="#">Полиуретановые полы</a><a class="header__dorp-link" href="#">Спортивные покрытия</a><a class="header__dorp-link" href="#">Краски и лаки</a></div>
              </div>
              <div class="header__nav-item"><a class="link link--bold link--drop js-drop" href="#">Готовые решения</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Полы для квартир</a><a class="header__dorp-link" href="#">Покрытия промышленного назначения</a><a class="header__dorp-link" href="#">Покрытия для детских  и спортивных площадок</a></div>
              </div>
            </div>
            <div class="header__nav-section header__nav-section--tablet">
              <div class="header__nav-item"><a class="link" href="#">Проекты</a></div>
              <div class="header__nav-item"><a class="link" href="#">Доставка и оплата</a></div>
              <div class="header__nav-item"><a class="link" href="#">Гарантия</a></div>
              <div class="header__nav-item"><a class="link link--drop js-drop" href="#">О компании</a>
                <div class="header__drop"><a class="header__dorp-link" href="#">Контакт</a><a class="header__dorp-link" href="#">Монтаж</a><a class="header__dorp-link" href="#">FAQ</a><a class="header__dorp-link" href="#">Статьи</a></div>
              </div>
            </div>
          </div>
          <div class="header__burger">
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
            <div class="header__burger-bar"></div>
          </div>
          <div class="header__phone"><a class="link header__phone-number" href="#">+7 (495) 983 58 58</a>
            <div class="header__phone-button" data-popup="callback"></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="c-top">
          <div class="c-top__bg c-top__bg--1"></div>
          <div class="c-top__inner">
            <div class="c-top__aside"></div>
            <div class="c-top__cont">
              <div class="c-top__c-row">
                <div class="c-top__c-col">
                  <div class="bread">
                    <ul class="bread__list">
                      <li class="bread__l-item"><a class="bread__link" href="#">Главная</a></li>
                      <li class="bread__l-item">Гарантия и обмен</li>
                    </ul>
                  </div>
                  <h1 class="h1">Гарантия и обмен</h1>
                </div>
                <div class="c-top__c-col"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="c-middle">
            <div class="c-middle__content">
              <div class="c-middle__desc">Производство материалов для эпоксидных и полиуретановых полов, эпоксидных и полиуретановых эмалей для нанесения на бетон и металлоконструкции, а также, монтаж всех перечисленных систем.</div>
              <p>Существует несколько видов наливных полов: на основе гипса, цемента или полимерного эпоксидного или полиуретанового вяжущего. Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.</p>
              <p>Наливной пол выбирают в зависимости от вида помещения (сухое или влажное) и требуемой толщины выравнивания. Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</p>
              <div class="c-middle__wrap-pic"><img class="c-middle__pic c-middle__pic--big" src="assets/images/content/content_7.png" alt="">
                <div class="c-middle__p-desc">Наливной пол в арт-галерее в Пскове.</div>
              </div>
              <h2>Подготовка основания</h2>
              <p>Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.</p>
              <h3>Обработка основания</h3>
              <p>Поверхность должно очистить от пыли, масляных пятен, клея и других веществ, ослабляющих адгезию смеси с основой. Швы, стыки и трещины должны быть заделаны. На основание обязательно следует нанести ровным слоем грунтовку и просушить в течение 1—3 часов.</p><a class="link link--blue link--bordered c-middle__link" href="#">Грунтовые смеси Harpiks</a>
              <div class="color-block color-block--light c-middle__block"> 
                <div class="color-block__inner">Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси. Переизбыток воды может понизить прочность и спровоцировать расслоение смеси.</div>
              </div>
              <h3>Необходимые материалы</h3>
              <p>По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.</p>
              <p>Правильность установки маяков проверяется уровнем или нивелиром.</p>
              <div class="c-middle__row">
                <div class="c-middle__col"><img src="assets/images/content/content_1.png" alt=""></div>
                <div class="c-middle__col">
                  <p>Важно помнить о технических особенностях материала.</p>
                </div>
              </div>
              <p>Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.</p>
              <p>Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</p>
              <div class="p-slider p-slider--c-middle">
                <div class="p-slider__scene owl-carousel">
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                  <div class="p-slider__slide">
                    <div class="p-slider__image" style="background-image:url(assets/images/content/p-slider_1.jpg)"></div>
                  </div>
                </div>
                <div class="p-slider__bottom">
                  <div class="p-slider__controls">
                    <div class="p-slider__controls-inner">
                      <div class="p-slider__counter">
                        <div class="p-slider__currrent">1</div>
                        <div class="p-slider__value">3</div>
                      </div>
                    </div>
                  </div>
                  <div class="p-slider__content">
                    <div class="p-slider__descr">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                  </div>
                </div>
              </div>
              <h2>Подготовка основания</h2>
              <p>Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см. </p>
              <ol>
                <li>Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</li>
                <li>Эпоксидные или полиуретановые полы применяют в основном в административных, торговых или производственных помещениях, в жилых помещениях довольно часто используют наливные полы на основе гипса или цемента под последующую отделку паркетом, ламинатом, линолеумом, керамической плиткой и т. д.</li>
              </ol><img class="c-middle__pic c-middle__pic--left" src="assets/images/content/content_8.png" alt=""><img class="c-middle__pic c-middle__pic--right" src="assets/images/content/content_9.png" alt="">
              <h2>Обработка основания</h2>
              <p>Для укладки пригодны все цементные, гипсовые и ангидритные основания с поверхностной прочностью не менее 150 кг на кв. см.</p>
              <ul>
                <li>Существуют тонко- и толстослойные наливные полы.</li>
                <li>Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</li>
              </ul>
              <div class="c-middle__t-row">
                <div class="c-middle__t-col">Существуют тонко- и толстослойные наливные полы. Некоторые производители выпускают полы позволяющие выполнять выравнивание в широком диапазоне толщины.</div>
                <div class="c-middle__t-col c-middle__t-col--colored">
                  <div class="c-middle__t-txt">Внимание: переизбыток воды может понизить прочность и спровоцировать расслоение смеси.</div>
                </div>
              </div>
              <div class="c-middle__video c-middle__video--middle" style="background-image: url(assets/images/content/video_1.png)"><a class="c-middle__v-link js-youtube" href="https://www.youtube.com/watch?v=-jzTb7y92pk"></a></div>
              <div class="c-middle__files">
                <div class="x-files"><a class="x-files__link" href="#"></a>
                  <div class="x-files__icon"></div>
                  <div class="x-files__txt-box">
                    <div class="x-files__title">Необходимые материалы</div>
                    <div class="x-files__desc">PDF, 3,8 Мб</div>
                  </div>
                </div>
              </div>
              <h4>Необходимые материалы</h4>
              <p>По периметру помещения вдоль стен, а также вокруг колонн и других выступающих элементов и ниш рекомендуется закрепить демпферную ленту. На подготовленное основание устанавливают маяки, зафиксировав их на нужной отметке.</p>
              <p>Правильность установки маяков проверяется уровнем или нивелиром.</p>
              <table>
                <thead>
                  <tr>
                    <th>Типы покрытий:</th>
                    <th>Адгезия к бетону</th>
                    <th>Износостойкость по Таберу</th>
                    <th>Сухой остаток</th>
                    <th>Время высыхания</th>
                    <th>Расход (в 1 мм)</th>
                    <th>Стойкость к нефтехимии</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Эпоксидный пол</td>
                    <td>2,5 МПа</td>
                    <td>48 мг</td>
                    <td>96%</td>
                    <td>24 часа</td>
                    <td>1,5 кг/м<sup>2</sup></td>
                    <td>Есть</td>
                  </tr>
                  <tr>
                    <td>Полимерный пол</td>
                    <td>2,5 МПа</td>
                    <td>48 мг</td>
                    <td>96%</td>
                    <td>24 часа</td>
                    <td>1,5 кг/м<sup>2</sup></td>
                    <td>Есть</td>
                  </tr>
                  <tr>
                    <td>Спортивное резиновое покрытие</td>
                    <td>2,5 МПа</td>
                    <td>48 мг</td>
                    <td>96%</td>
                    <td>24 часа</td>
                    <td>1,5 кг/м<sup>2</sup></td>
                    <td>Есть</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__logo"><a class="footer__l-link" href="#"></a><img class="footer__logo-max-image" src="assets/images/static/logo-max.svg" alt=""><img class="footer__logo-min-image" src="assets/images/static/logo-min.svg" alt=""></div>
            <div class="footer__content">
              <div class="footer__row">
                <div class="footer__col">
                  <div class="footer__txt">190005, Россия, г. Санкт-Петербург, наб. Обводного канала 199, офис 5</div>
                </div>
                <div class="footer__col"><a class="footer__txt" href="#">+7 (812) 777-50-70</a><a class="footer__txt" href="#">info@harpiks.ru</a></div>
                <div class="footer__col">
                  <div class="footer__txt">Политика конфиденциальности</div>
                </div>
              </div>
              <div class="footer__row">
                <div class="footer__col"><a class="footer__txt" href="#">Разработка сайта — Cakelabs</a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="popups">
        <div class="popup" id="form">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заполните форму</div>
                <div class="popup__fields">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Почта</label>
                    <input class="popup__field-input" type="text" name="mail">
                  </div>
                  <div class="popup__field popup__field--half">
                    <label class="popup__field-label">Комментарий</label>
                    <input class="popup__field-input" type="text" name="message">
                  </div>
                  <div class="popup__field popup__field--half">
                    <div class="popup__fields-policy">
                      Отправляя нам данную форму, вы соглашаетесь<br> с <a class="link link--text" href="#">политикой конфиденциальности.</a></div>
                  </div>
                  <div class="popup__form-submit">
                    <button class="button button--blue" type="submit">Отправить</button>
                  </div>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="popup" id="callback">
          <div class="popup__container">
            <div class="popup__closer"></div>
            <div class="popup__container-inner">
              <form class="popup__form js-validate">
                <div class="popup__title h1">Заказать обратный<br>звонок</div>
                <div class="popup__fields popup__fields--small">
                  <div class="popup__field">
                    <label class="popup__field-label">Имя</label>
                    <input class="popup__field-input" type="text" name="name">
                  </div>
                  <div class="popup__field">
                    <label class="popup__field-label">Телефон</label>
                    <input class="popup__field-input phone" type="text" name="phone">
                  </div>
                  <div class="time">
                    <div class="time__title">Удобное время</div>
                    <div class="time__row">
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_1">
                          <label class="radio__label" for="radio_1">В течение 5 минут</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_2">
                          <label class="radio__label" for="radio_2">С 9:00 до 12:00</label>
                        </div>
                      </div>
                      <div class="time__item">
                        <div class="radio">
                          <input class="radio__input" type="radio" name="time-to-call" id="radio_3">
                          <label class="radio__label" for="radio_3">С 13:00 до 19:00</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup__form-submit popup__form-submit--cnt">
                  <button class="button button--blue" type="submit">Отправить</button>
                </div>
              </form>
              <div class="popup__success">
                <div class="popup__title h1">Готово!</div>
                <div class="popup__success-text">Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.</div>
                <div class="popup__success-timer">Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="assets/js/scripts.min.js"></script>
  </body>
</html>
